
<div class="gg-modal" id="modal-terms">
    <div class="gg-modal__box">
        <div class="gg-modal__box__header">
            <h2 class="mb-0">Terms &amp; Conditions</h2>
        </div>
        <div class="gg-modal__box__body">            
            <h3>Definitions</h3>
            <p>Contest (for this Terms and Conditions) - competition hosted by Wewe Media for its Affiliates in the specific order defined in this Terms and Conditions.</p>
            <p>Contestant – Affiliate of the Wewe Media, which is taking part in the Contest as defined in this Terms and Conditions.</p>
            <p>Grand Prize: The main prize of the Contest is the Mercedes AMG GT Coupe</p>
            <p>Rank Prizes: First, second and third prize in the Contest, tickets to Singapore to catch Formula 1, 4-day 3-night accommodation, dining experience and a luxury chronograph watch. Four prize in the Contest, tickets to Singapore to catch Formula 1 and 4-day 3-night accommodation.</p>
            <p>Wewe Media reserves the right to replace prizes with the same cash value.</p>
            <p>Contest period: (<strong>June 01 2022 - August 31 2022</strong>).</p>
            <p>All definitions and terms (other than those defined in these Terms and Conditions) will have the same meaning as in the Publisher Terms and Conditions, which shall be incorporated hereby via the following link: <a href="https://wewe.media/tnc/" target="_blank">https://wewe.media/tnc</a>.</p>
            <p>Those clauses are to be applied to these Terms and Conditions. In the event of any conflict between these Terms and Conditions and/or any attachments, these Terms and Conditions will prevail.</p>

            <h3>Take Part In The Contest</h3>
            <p>All Wewe Media Affiliates can take part in the Contest. Affiliates who are CPA networks are not allowed to participate in the Contest. Individuals who are authorized and act on behalf of CPA networks are also not allowed to participate in the Contest.</p>
            <p>To participate in the Contest, the Affiliate must be a program member. If you are a new member, you need to register as indicated on the Wewe Media site (<a href="https://wewe.media">https://wewe.media</a>). If you are an Affiliate of the Program with us, registration is not required. Wewe Media reserves the right to decline any Affiliate from participation in the Contest at any time at its sole discretion.</p>

            <h3>Contest Rules</h3>
            <p>The Contest consists of three bonus tiers, each awarding prizes of ascending value. Every Contestant is able to win several prizes. Each bonus tier includes several prize options. Contestants can redeem an option of their choice from each stage. After reaching the first bonus tier, Contestants can choose to redeem one of the tier's prizes or continue working towards the next one.</p>
            <p>Wewe Media distributes prizes at its sole discretion in quality and quantity equivalent to awards for received places. The prize quantity for each bonus tier is limited. The prizes are given to the first Contestants who reach the revenue thresholds and redeem the corresponding rewards. Prizes become available for redemption after traffic quality validation by the advertisers responsible for the respective offers that Contestant's revenue comes from. In no case can these Terms and Conditions create any additional obligations for Wewe Media.</p>

            <h3>Grand Prize</h3>
            <p>Affiliate who generates the highest revenue of at least $3,000,000 in total will win the Grand prize. Revenue generated will be accumulated from <strong>June 01 2022</strong> to <strong>August 31 2022</strong>. The Winner can take the Grand Prize in money terms if the Winner refuses the Grand Prize offered by Wewe Media or is unable to receive it. In this case, the amount of the Grand Prize remains for the sole and exclusive discretion of the Wewe Media. For clarifying, Wewe Media may refuse to give the Grand Prize in money terms at any time at its sole discretion. The Winner's choice to receive the Grand Prize in money terms does not constitute any obligation for Wewe Media.</p>

            <h3>Rank Prizes</h3>
            <p>There is first, second, third and fourth place ranking for the grand prizes. Total revenue generated for a first-place must be over <strong>$1,000,000</strong>. Total revenue generated for a second-place must be over <strong>$750,000</strong>. Total revenue generated for a third-place must be over <strong>$500,000</strong>. Total revenue generated for the fourth place must be over <strong>$300,000</strong>. Revenue generated will be accumulated from <strong>June 01 2022</strong> to <strong>August 31 2022</strong>.</p>

            <h3>Prizes Policy</h3>
            <p>The actual prize appearance and technical specifications may differ from those shown on the prize scale and in the Contest's promotional materials. Suppose the prize, indicated on the scale, cannot be delivered to the Contestant due to objectively reasonable causes (unavailability of a specific model, difficulties with delivery to a particular location, force-majeure, etc.). In that case, Wewe Media may substitute it with a matching option after the redeeming Contestant's approval.</p>
            <p>Regarding the Grand prize, Rank prizes and one prize option from tier prizes, all additional expenses (taxes; title; registration; delivery, processing and handling fee; dealer charges; insurance; etc.) are paid by the Winner.</p>
            <p>Wewe Media doesn't have any obligations regarding giving any Prizes. Wewe Media may provide declared prizes according to the Contest results to certain Winners at its sole and exclusive discretion. Wewe Media will not be held responsible for any prizes and consequences for the results of their use.</p>

            <h3>Termination</h3>
            <p>Suppose Wewe Media believes (in its sole discretion and with no obligation to provide any proof) that the Contestant has breached these Terms and Conditions. In that case, it reserves the right to suspend or terminate the Contestant's membership in the Contest without notice and any prize(s) or payment(s).</p>

            <h3>Wewe Media Rights</h3>
            <p>Wewe Media reserves the right to revise these Terms and Conditions in sole discretion (in case of any revisions, all Contestants may be notified via our social media and other channels).</p>
            <p>Suppose Wewe Media determines, in its sole discretion, that the Contestant has engaged in any activity that Wewe Media considers to be fraudulent or which might bring the reputation or standing of Wewe Media into disrepute either with the general public or with the Clients or potential Clients of Wewe Media, or otherwise that the Contestant has engaged in activities which might be considered fraudulent or in case the Contestant violates any given Offer's promotion restrictions. In that case, Wewe Media may suspend or terminate the Contestant's membership in the Contest without notice and any prizes or payments.</p>
            <p>The distribution and transfer of prizes for participation in the Contest are at the sole discretion of Wewe Media, and in no case can these Terms and Conditions create any additional obligations for Wewe Media.</p>
            <p>The Affiliate automatically agrees to these Terms and Conditions by signing up for the "We race to Formula 1" contest. Without accepting these Terms and Conditions, the Affiliate cannot be a Contestant and awarded with any prize(s).</p>
        </div>

        <div class="gg-modal__box__footer d-flex align-items-center">
            <button class="btn btn--primary btn--rounded btn--block gg-modal__hide mx-auto" style="max-width: 400px">Close Modal</button>
        </div>
    </div>
</div>