

<section class="section section--challenge pb-0 ">
    <div class="section-divider">
        <div class="section-divider__line"></div>
        <div class="section-divider__arrow-down"></div>
    </div>
    <div class="container">
        <h2 class="section-title" data-aos="fade-right">Formula 1 Circuit<br>Challenge</h2>

        <div class="text-center" data-aos="fade-left">
            <img src="img/challenges.png" alt="">
        </div>
    </div>

    <div style="margin:50px"></div>
    <div class="checkered" data-aos="fade-up"></div>
</section>