

<section class="section section--about pb-0 ">
    <div class="section-overlay pin"></div>
    <div class="section-divider">
        <div class="section-divider__line"></div>
        <div class="section-divider__arrow-down"></div>
    </div>
    <div class="container pos-relative">
        <h2 class="section-title text-white" data-aos="fade-right">Let the race begin</h2>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-12 col-lg-5">
                <div class="info-box bg-white" data-aos="fade-left" data-aos-delay="1000">
                    <div class="info-box__body">
                        <div class="wysiwyg">
                            <p>The most promising affiliates in the industry train their careers to compete in the We Race To Formula 1, which is the largest event in the industry after a two-year haul. </p>
                            <p>Affiliate members will be tested in their skills, endurance, and competitive spirit during this 3-month event , this will separate the professionals from the amateurs. Those who achieve the target will be awarded with a coveted flight to Singapore to watch the Formula 1. </p>
                            <p>We Race To Formula 1 also features <strong class="text-primary">FORMULA ONE CIRCUIT CHALLENGES</strong> over the course of the next 90 days that focusing on specific verticals and offers. There are many challenges with different prizes, such as the WAVEE W-1, Macbooks, Airpods Max, etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>