


<section class="section section--video section--has-login-signup-btns">

    <div class="container hero-btns-container">
        <div class="row hero-btns-row gutters-sm-down mx-0">
            <div class="col-6">
                <a href="https://portal.wewemedia.com/login" class="btn btn--primary btn--block hero-btn js-hero-btn-auto-height">
                    <p>BEGIN</p>
                    <span>For registered affiliates</span>
                </a>
            </div>
            <div class="col-6">
                <a href="https://portal.wewemedia.com/affiliate/signup" class="btn btn--black btn--block hero-btn js-hero-btn-auto-height">
                    <p>SIGN UP</p>
                    <span>To become our affiliate</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="section-title text-white" data-aos="fade-up">Singapore<br>Qualifying Highlights</h2>
        <div class="campaign-video" data-aos="fade-left" data-aos-delay="500">
            <div class="campaign-video__inner">
                <!-- ===========================================================
                # Un-comment the <video> tag if need to use
                # Just replace the poster="" and <source src=""> values
                # Recommended poster dimensions: (1300x700)
                 =============================================================== -->
                <!--
                    <video id="my-video" class="video-js vjs-big-play-centered vjs-theme-city--no" controls preload="auto" poster="img/werace-video-cover.jpg" data-setup='{"fluid": true}' width="800px" height="450px">
                        <source src="img/werace-campaign-video.mp4" type="video/mp4" />
                        {# <source src="assets/images/werace-campaign-video.webm" type="video/webm" /> #}
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                 -->
            </div>

            <!-- Remove this if has video -->
            <div class="campaign-video__comingsoon pin d-flex align-items-center justify-content-center">
                <h3>Coming Soon</h3>
            </div>
        </div>
    </div>
</section>
