

<section class="section section--hero">
    
    <div class="text-center" data-aos="fade-in" data-aos-duration="3000">
        <img src="img/hero/hero-title.png" class="hero-title" style="max-width: 900px;width: 80vw" alt="">
    </div>
    <div class="hero-content-img">
        <div class="hero-content-img__inner"></div>
        <img src="img/hero/hero-prize-trip.png" class="hero-floating-img hero-prize-trip" data-aos="fade-right" data-aos-delay="1000" alt="">
        <img src="img/hero/hero-prize-car.png" class="hero-floating-img hero-prize-car" data-aos="fade-right" data-aos-delay="2000" data-aos-duration="1500" alt="">
        <img src="img/hero/hero-prize-tickets.png" class="hero-floating-img hero-prize-tickets" data-aos="fade-up" data-aos-delay="1500" data-aos-duration="2000" alt="">
        <img src="img/hero/hero-prize-watches.png" class="hero-floating-img hero-prize-watches" data-aos="fade-left" data-aos-delay="1000" alt="">
    </div>
    <div class="hero-contest-date">
        June 01, 2022 — August 31, 2022
    </div>

    <div class="container hero-btns-container">
        <div class="row hero-btns-row gutters-sm-down mx-0" data-aos="zoom-in">
            <div class="col-6">
                <a href="https://portal.wewemedia.com/login" class="btn btn--primary btn--block hero-btn js-hero-btn-auto-height">
                    <p>BEGIN</p>
                    <span>For registered affiliates</span>
                </a>
            </div>
            <div class="col-6">
                <a href="https://portal.wewemedia.com/affiliate/signup" class="btn btn--black btn--block hero-btn js-hero-btn-auto-height">
                    <p>SIGN UP</p>
                    <span>To become our affiliate</span>
                </a>
            </div>
        </div>
    </div>

    <div class="hero-bg-behind"></div>
</section>

