

<section class="section section--how-it-works">
    <div class="section-divider">
        <div class="section-divider__line"></div>
        <div class="section-divider__arrow-down"></div>
    </div>
    <div class="container">

        <div class="info-group">
            <div class="grand-prize-banner mb-10" data-aos="slide-left">
                <div class="row gutters-sm-down">
                    <div class="col-6">
                        <div class="grand-prize-banner__img" data-aos="zoom-in-right" data-aos-delay="3000" data-aos-duration="2000">
                            <img src="img/grand-prize.png" alt="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="grand-prize-banner__desc">
                            <h2 data-aos="fade-in" data-aos-duration="3000">GRAND PRIZE</h2>
                            <h3 data-aos="fade-in" data-aos-duration="2000" data-aos-delay="1500" data-aos-duration="2000">2022 MERCEDES AMG GT</h3>                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gutters-sm">
                <div class="col-12 col-md-6">
                    <div class="info-box mb-10 js-info-auto-height">
                        <div class="info-box__body">
                            <div class="wysiwyg">
                                <p>Win a race prize by generating the highest revenue from <strong class="text-primary">1st June 2022 to 31st August 2022</strong>. You can win up to 30K worth of ticket to Singapore to catch the Formula 1 and with the lastest electronic gadgets  by hitting revenue targets. Also, don’t forget about our bonus <strong class="text-primary">FORMULA 1 CIRCUIT CHALLENGES</strong>, where you can win the latest gadgets. Be sure to check them out!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                
                    <div class="info-box-rank mb-10 js-info-auto-height">
                        <div class="info-box-rank__header">
                            <h2 class="mb-0 text-center">Rank Prizes</h2>
                        </div>
                        <div class="info-box-rank__body">
                            <div class="info-box-rank__rank">
                                <h3><u>1st, 2nd, 3rd and 4th Prize:</u></h3>
                                <ul class="unstyled-list">
                                    <li>TRIP TO THE FORMULA 1 SINGAPORE</li>
                                    <li>GRAND PRIX, 4 DAYS 3 NIGHTS</li>
                                    <li>ACCOMMODATION &amp; DINING EXPERIENCE </li>
                                </ul>
                            </div>

                            <div class="info-box-rank__rank">
                                <h3><u>1st, 2nd, and 3rd Prize:</u></h3>
                                <ul class="unstyled-list">
                                    <li>CHRONOGRAPHS WATCHES</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>