

<section class="section section--prizes pb-0 ">
    <div class="section-divider">
        <div class="section-divider__line"></div>
        <div class="section-divider__arrow-down"></div>
    </div>

    
    <section class="section__inner section--prizes__amazing">
        <div class="prize">
            <div class="container">
                <h2 class="section-title text-white glowing-text" data-aos="zoom-in">Amazing Prizes</h2>
                <h3 class="text-white glowing-text" data-aos="fade-in" data-aos-duration="2000" data-aos-delay="2500">2022 MERCEDES AMG GT</h3>
            </div>

            <div class="amazing-prize">
                <div class="amazing-prize__bg">
                    <div class="amazing-prize__bg__inner"></div>
                </div>
                <div class="container">
                    <img src="img/grand-prize.png" class="amazing-prize__img" data-aos="zoom-out-right" data-aos-delay="1000" data-aos-duration="2000" style="width: 700px" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="section__inner-group">
        
        <section class="section__inner section--prizes__rank">
            <div class="container">
                <h2 class="section-title text-white glowing-text" data-aos="zoom-in">Rank Prizes</h2>
                <div class="prize">
                    <h3 class="text-white glowing-text" data-aos="fade-in" data-aos-delay="1000">CHRONOGRAPH WATCHES</h3>
                    <img src="img/prizes/watches.png" style="width: 600px" alt="" data-aos="fade-in" data-aos-delay="1500">
                </div>

                <div class="prize">
                    <h3 class="text-white glowing-text" data-aos="fade-in" data-aos-delay="1000">TRIP TO SINGAPORE F1</h3>
                    <img src="img/prizes/trip-to-sg-f1.png" style="width: 600px" alt="" data-aos="fade-in" data-aos-delay="1500">
                </div>
            </div>

        </section>
        
        <section class="section__inner section--prizes__tier">
            <div class="container">
                <h2 class="section-title text-white glowing-text" data-aos="zoom-in">Tiered Prizes</h2>
                <div class="tier-prizes-list">
                    <div class="tier-prizes">
                        <div class="text-center">
                            <h3 class="tier-title tier-title--white" data-aos="fade-in" data-aos-delay="700">Tier 1</h3>
                        </div>
                        <div class="text-center" data-aos="fade-left" data-aos-delay="1400">
                            <img src="img/prizes/tier/tier1.png" style="width:900px" alt="">
                        </div>

                    </div>
                    
                    <div class="tier-prizes">
                        <div class="text-center">
                            <h3 class="tier-title tier-title--white" data-aos="fade-in" data-aos-delay="700">Tier 2</h3>
                        </div>
                        <div class="text-center" data-aos="fade-left" data-aos-delay="1400">
                            <img src="img/prizes/tier/tier2.png" style="width:900px" alt="">
                        </div>
                    </div>

                    <div class="tier-prizes">
                        <div class="text-center">
                            <h3 class="tier-title tier-title--white" data-aos="fade-in" data-aos-delay="700">Tier 3</h3>
                        </div>
                        <div class="text-center" data-aos="fade-left" data-aos-delay="1400">
                            <img src="img/prizes/tier/tier3.png" style="width:900px" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include "partials/layout/footer.njk" %}

    </div>



</section>