

.section--hero {
    z-index: 20;
    position: relative;
    background-color: #000;
    overflow: hidden;

    padding-top: 80px;
    padding-bottom: 55vw;

    @media(min-width: 768px) {
        padding-bottom: 43vw;
        padding-top: 100px;
    }
}

.hero-content-img {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    z-index: 2;
    &__inner {
        padding-bottom: calc(572 / 1555 * 100%);
        background-image: url(../img/hero/hero-cart.png);
        background-size: cover;
        background-position: center bottom;
    }

    @media(min-width: 992px) {
        bottom: 60px;
    }
}

.hero-bg-behind {
    position: absolute;
    background-image: url(../img/hero/hero-bg-behind.png);
    z-index: 1;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.hero-content {
    z-index: 3;
    position: relative;
}

.hero-contest-date {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: #fff;
    font-size: 18px;
    font-family: 'Nexa';
    font-weight: 700;
    @media(min-width: 576px) {
        font-size: 24px;
        bottom: 0;
    }
    @media(min-width: 992px) {
        font-size: 34px;
    }
}

.hero-btns-container {
    z-index: 6;
    width: 100%;
    max-width: 100%;
}

.hero-btn {
    font-family: 'Nexa', sans-serif;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 27px -5px rgba(255, 255, 255, 0.89);

    p {
        margin: 0;
        font-size: 18px;
        margin-bottom: 3px;
    }
    span {
        display: block;
        font-size: 14px;
        line-height: 1.2;
    }
}

.section--hero {
    .hero-btns-container {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 50%;

        @media(max-width: 767px) {
            display: none;
        }
        @media(min-width: 992px) {
            max-width: 45%;
            .hero-btn {
                p { font-size: 20px; }
                span { font-size: 16px; }
                padding: 10px;
            }
        }
        @media(min-width: 1200px) {
            .hero-btn {
                p { font-size: 32px; }
                span { font-size: 18px; }
            }
        }
        @media(min-width: 1600px) {
            max-width: 40%;
        }
        
    }
}

.section--has-login-signup-btns {
    .hero-btns-container {
        position: relative; 
        margin-bottom: 35px;
        margin-top: -20px;
        @media(min-width: 768px) {
            display: none;
        }
    }
}

/*--------------------------------------------------------------
# Floating images
--------------------------------------------------------------*/
.hero-floating-img {
    position: absolute;
    z-index: 5;
}

.hero-title {
    position: relative;
    z-index: 6;
}

.hero-prize-trip {
    bottom: 60%;
    width: 35%;

}
.hero-prize-car {
    left: -30px;
    bottom: 9%;
    width: 40%;
}

.hero-prize-watches {
    bottom: 5%;
    right: 0;
    width: 33%;
}

.hero-prize-tickets {
    bottom: 68%;
    right: 0;
    width: 33%;
    z-index: 4;
}