

.section--video {
    background-image: url(../img/backgrounds/campaign-video-bg.png);
    background-size: cover;

    margin-top: -8vw;
    padding-top: calc(8vw + 50px);
    padding-bottom: 50px;
    @media(min-width: 992px) {
        padding-top: calc(8vw + 100px);
        padding-bottom: 80px;
    }

}

.campaign-video {
    position: relative;
    &__inner {
        padding-bottom: calc(450 / 800 * 100%);
        position: relative;
    }
    &__comingsoon {
        background-color: #353535;
        z-index: 5;
        h3 {
            color: #fff;
            font-size: 24px;
        }
    }

    .video-js {
        position: absolute !important;
        width: 100% !important;
        height: 100% !important;
    }
    .vjs-poster {
        background-size: cover !important;
        background-position: center !important
    }

}