

.section--about {
    background-image: url(../img/backgrounds/about-bg.png);
    background-size: cover;
    background-position-y: center;

    padding: 80px 0;
    @media(min-width: 992px) {
        padding: 150px 0;
    }
}