

.section--how-it-works {
    background-image: url(../img/backgrounds/how-it-works-bg.png);
    background-size: cover;

    padding: 100px 0 50px;
    @media(min-width: 992px) {
        padding: 200px 0 80px;
    }
}