

.section--prizes {
    background-color: #000;
    overflow: hidden;

    padding: 100px 0;
    @media(min-width: 992px) {
        padding: 150px 0;
    }

    .section__inner {
        margin-bottom: 80px;
        position: relative;
        z-index: 1;
        &:last-child {
            margin-bottom: 0;
        }

        &-group {
            background-image: url(../img/backgrounds/prizes-bg-min-800.png);
            background-size: 100%;
            background-position: center;
        }
    }
    .tier-prizes {
        margin-bottom: 60px;

        @media(min-width: 768px) {
            margin-bottom: 100px;
        }
    }

    .section-title {
        margin-bottom: 10px;
        @media(min-width: 768px) {
            margin-bottom: 20px;
        }
    }
    
    .prize {
        text-align: center;
        margin-bottom: 35px;

        h3 {
            margin-bottom: 40px;
        }
    }
    .tier-prizes-list {
        margin-top: 30px;
        @media(min-width: 768px) {
            margin-top: 40px;
        }
    }
}
.section--prizes__amazing {
    .prize {
        h3 {
            @media(min-width: 1200px) {
                margin-bottom: 60px;
            }
        }
    }

}

.amazing-prize {
    position: relative;

    &__img {
        z-index: 2;
        position: relative;
    }
    &__bg {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        &__inner {
            background-image: url(../img/backgrounds/grand-prize-bg.png);
            background-size: cover;
            background-position: center;
            padding-bottom: calc(1009 / 1556 * 100%);
        }
    }

}