{% set ver = "?ver=1654547884" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> #}
    <meta name="robots" content="noindex, nofollow">
    <title>WE RACE TO FORMULA 1</title>
    <meta content="Win a race prize by generating the highest revenue from 1st June 2022 to 31st August 2022. You can win up to 30K worth of ticket to Singapore to catch the Formula 1 and with the lastest electronic gadgets by hitting revenue targets." name="description">
    <meta content="WE RACE TO FORMULA 1" property="og:title">
    <meta content="Win a race prize by generating the highest revenue from 1st June 2022 to 31st August 2022. You can win up to 30K worth of ticket to Singapore to catch the Formula 1 and with the lastest electronic gadgets by hitting revenue targets." property="og:description">
    <meta content="img/og-image.jpg" property="og:image">
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta content="WE RACE TO FORMULA 1" property="twitter:title">
    <meta content="Win a race prize by generating the highest revenue from 1st June 2022 to 31st August 2022. You can win up to 30K worth of ticket to Singapore to catch the Formula 1 and with the lastest electronic gadgets by hitting revenue targets." property="twitter:description">
    <meta content="img/og-image.jpg" property="twitter:image">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.11.4/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/vendors.css{{ ver }}">
    <link rel="stylesheet" href="css/main.css{{ ver }}">
</head>
<body class="overflow-hidden">
    <div id="fullpage-loading" class="pin pos-fixed d-flex align-items-center justify-content-center">
        <img src="img/intro-loading.png" alt="">
    </div>
    {% include "partials/layout/header.njk" %}
    {% include "partials/layout/mobile_nav.njk" %}
    <main id="main" class="overflow-hidden">
        {% include "partials/sec01_hero.njk" %}
        {% include "partials/sec02_video.njk" %}
        {% include "partials/sec03_about.njk" %}
        {% include "partials/sec04_how_it_works.njk" %}
        {% include "partials/sec05_challenge.njk" %}
        {% include "partials/sec06_prizes.njk" %}
    </main>

    {% include "partials/modal_terms.njk" %}

    <script src="js/vendors.js{{ ver }}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <script src="js/main.js{{ ver }}"></script>
</body>
</html>