<footer id="footer">
    <div class="container text-center">
        <div class="row awards-row gutters-sm-down align-items-center mx-auto" style="max-width: 650px;">
            <div class="col-6 col-sm-3">
                <img src="img/footer/APAC-Insider-Award-1024x791.png" alt="">
            </div>
            <div class="col-6 col-sm-3">
                <img src="img/footer/boalogo1.png" alt="">
            </div>
            <div class="col-6 col-sm-3">
                <img src="img/footer/boalogo2.png" alt="">
            </div>
            <div class="col-6 col-sm-3">
                <img src="img/footer/ST-Award-1024x791.png" alt="">
            </div>
        </div>

        <div class="copyright-text text-center text-white">
            © <script>document.write(new Date().getFullYear())</script> Wewe Media Group. All rights reserved
        </div>
    </div>
</footer>