

<header id="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <a href="https://wewe.media" class="d-inline-block">
                    <div class="header-logo">
                        <img src="img/wewe-logo.png" width="276" alt="">
                    </div>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <nav class="navig navig--primary">
                            <ul>
                                <li><a href="#" class="js-scrollto--top">Home</a></li>
                                <li><a href="#" class="js-scrollto" data-target=".section--prizes">Prizes</a></li>
                                <li><a href="#" class="js-scrollto" data-target=".section--challenge">Challenge</a></li>
                                <li><a href="#" data-toggle="gg-modal" data-target="#modal-terms">Terms &amp; Conditions</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto">
                        <div class="row nav-buttons-row gutters-sm">
                            <div class="col-auto">
                                <a href="https://portal.wewemedia.com/login" class="btn btn--primary btn--rounded">LOG IN</a>
                            </div>
                            <div class="col-auto">
                                <a href="https://portal.wewemedia.com/affiliate/signup" class="btn btn--rounded">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto d-lg-none">
                <div class="burger">
                    <div class="burger__inner">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>