
<div class="navig navig--mobile navig--mobile--is-hidden">
    <div class="navig--mobile__overlay pin"></div>
    <div class="navig--mobile__drawer">
        <nav>
            <ul>
                <li><a href="#" class="js-scrollto--top">Home</a></li>
                <li><a href="#" class="js-scrollto" data-target=".section--prizes">Prizes</a></li>
                <li><a href="#" class="js-scrollto" data-target=".section--challenge">Challenge</a></li>
                <li><a href="#" data-toggle="gg-modal" data-target="#modal-terms">Terms &amp; Conditions</a></li>
            </ul>
        </nav>
        <div class="navig--mobile__buttons">
            <a href="https://portal.wewemedia.com/login" class="btn btn--rounded btn--block">LOG IN</a>
            <a href="https://portal.wewemedia.com/affiliate/signup" class="btn btn--rounded btn--block">SIGN UP</a>
        </div>
    </div>
</div>
