
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    padding: 20px 0 15px;
    // background-color: #000;

    > .container {
        max-width: 1500px;
    }
    .nav-buttons-row {
        .btn {
            min-width: 120px;
        }
    }

    transition: all 300ms ease;

    &.shrink {
        background-color: #000;
        padding-top: 10px;
        padding-bottom: 10px;
        .header-logo {
            img {
                width: 200px;
            }
        }
    }
}

.header-logo {
    img {
        transition: all 500ms ease;
    }
}
.burger {
    cursor: pointer;
    background-color: $primary-color;
    padding: 10px 10px;
    &__inner {
        height: 18px;
        width: 25px;
        position: relative;
        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fff;
            right: 0;
        }
        span:nth-child(1) {
            top: 0;
        }
        span:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
            width: 70%;
        }
        span:nth-child(3) {
            bottom: 0;
        }
    }

}