

.navig {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
        transition: all 400ms ease;
        &:hover {
            opacity: .8;
        }
    }
}

.body-navig--is-open {
    overflow: hidden !important;
}

/*--------------------------------------------------------------
# Primary Navigation
--------------------------------------------------------------*/

.navig--primary {

    > ul {
        > li {
            list-style: none;
            display: inline-block;
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
            > a {
                color: #fff;
                font-size: 15px;
                @media(min-width: 1200px) {
                    font-size: 1rem;
                }
            }
        }
    }

}


/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/

.navig--mobile {
    $drawer-width: 280px;
    $this: &;
    &--is-hidden {
        display: none !important;
    }
    &--is-open {
        #{$this} {
            &__drawer {
                transform: translateX(0);
            }
            &__overlay {
                opacity: 1;
            }
        }
        
    }
    
    &__overlay {
        position: fixed !important;
        background-color: rgba(0,0,0, .4);
        z-index: 99;
        cursor: pointer;
        transition: all 200ms linear;
        opacity: 0;
    }
    &__buttons {
        padding: 25px;
        .btn {
            margin-bottom: 15px;
        }
    }
    &__drawer {
        position: fixed;
        top: 0;
        left: 0;
        width: $drawer-width;
        height: 100vh;
        background-color: $primary-color;
        z-index: 100;
        box-shadow: 6px 0px 21px -5px rgba(0,0,0,0.4);
        transition: all 200ms ease;
        transform: translateX(-#{$drawer-width + 20px});

        nav {
            padding-top: 10vh; 

            > ul {
                > li {
                    padding: 10px 25px;
                    > a {
                        color: #fff;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                }
            }
    
        }
    }
}