
*,
*::after, 
*::before {
    box-sizing: border-box;
} 
img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    @media(min-width: 768px) {
        font-size: 18px;
    }
}
