
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    // padding: 0.375rem 0.75rem;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;

    background-color: #fff;
    color: #000;
    font-weight: 600;
    
    &:hover {
        background-color: darken(#fff, 10%);
        color: #000;
    }
    &.btn--rounded {
        border-radius: 25px;
    }

    white-space: normal;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}
  
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
  
.btn.disabled, .btn:disabled {
    opacity: 0.65;
}
  
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: none;
}
  
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn--primary {
    background-color: $primary-color;
    color: #fff;
    &:hover {
        background-color: darken($primary-color, 5%);
        color: #fff;
    }

}

.btn--black {
    background-color: #000;
    color: #fff;
    &:hover {
        background-color: lighten(#000, 10%);
        color: #fff;
    }

}

.btn--block {
    display: block;
    width: 100%;
}