

/*--------------------------------------------------------------
# Ethnocentric Rg
--------------------------------------------------------------*/
@font-face {
    font-family: 'Ethnocentric Rg';
    src: url('../fonts/EthnocentricRg/EthnocentricRg-Regular.woff2') format('woff2'),
        url('../fonts/EthnocentricRg/EthnocentricRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*--------------------------------------------------------------
# Rubik
--------------------------------------------------------------*/
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik/Rubik-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-SemiBold.woff2') format('woff2'),
        url('../fonts/Rubik/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*--------------------------------------------------------------
# Nexa
--------------------------------------------------------------*/
@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa/NexaBold.woff2') format('woff2'),
        url('../fonts/Nexa/NexaBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*--------------------------------------------------------------
# Avenir
--------------------------------------------------------------*/
// @font-face {
//     font-family: 'Avenir';
//     src: url('../fonts/Avenir/Avenir-Medium.woff2') format('woff2'),
//         url('../fonts/Avenir/Avenir-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Avenir';
//     src: url('../fonts/Avenir/Avenir-Black.woff2') format('woff2'),
//         url('../fonts/Avenir/Avenir-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }