

.gutters-sm {
    margin-right: -5px;
    margin-left: -5px;
    > .col,
    > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
}
@media(max-width: 575px) {
    .gutters-sm-down {
        margin-right: -5px;
        margin-left: -5px;
        > .col,
        > [class*="col-"] {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}

