
.info-box {
    background-color: rgba(#fff, .9);
    padding: 20px;
}

.info-group {
    .info-box {

        @media(min-width: 480px) {
            padding-top: 10%;
        }
        @media(min-width: 768px) {
            padding-top: 25%;
        }
    }
}

.grand-prize-banner {
    position: relative;
    background-color: $primary-color;
    color: #fff;
    padding: 15px;
    z-index: 2;
    &__img {
        margin-top: -12%;
        margin-left: -8%;
        position: absolute;
        > img {
            width: 90%;
        }
    }
    &__desc {
        h2 {
            margin: 0;
            font-size: 22px;
            @media(min-width: 768px) {
                font-size: 45px;
            }
        }
        h3 {
            margin: 0;
            font-size: 14px;
            @media(min-width: 768px) {
                font-size: 20px;
            }
        }
    }
}

.info-box-rank {
    color: #fff;
    &__header {
        background-color: #000;
        padding: 15px;
    }
    &__body {
        background-color: #353535;
        padding: 15px 20px;
    }

    &__rank {
        border: 3px dashed #fff;
        padding: 15px;
        margin-bottom: 15px;

        li {
            font-size: 16px;
        }
    }
}