
.container {
    // max-width: 1400px;
    max-width: 1200px;
}

.section {
    position: relative;
    // padding: 85px 0;
    // @media(min-width: 768px) {
    //     padding: 100px 0;
    // }

}

.section-overlay {
    background: rgba(0,0,0, .5);
}

.checkered {
    background-image: url(../img/checkered-small.png);
    height: 120px;
    @media(min-width: 768px) {
        height: 162px;
    }
}

@keyframes breathing {
    0% {
        transform: scale(0.9);
    }
  
    50% {
        transform: scale(1);
    }
  
    // 60% {
    //     transform: scale(0.9);
    // }
  
    100% {
        transform: scale(0.9);
    }
}
  

#fullpage-loading {
    background-color: #000;
    z-index: 999;
    transition: all 400ms ease;
    
    &.hide {
        transform: translateY(-105vh);
    }
    img {
        animation: breathing 2s ease-out infinite normal;
    }
}