
#modal-terms {
    
    .gg-modalFadeInDown {
        animation-duration: .5s;
    }
    .gg-modal__box {
        position: relative;
        padding: 0;
        &__header {
            background-color: $primary-color;
            color: #fff;
            text-align: center;
            padding: 15px 10px;
        }
        &__body {
            height: 100%;
            max-height: 80vh;
            overflow: auto;
            padding: 25px;

            font-size: 15px;
            font-weight: 400;
            line-height: 1.5;

            padding-bottom: 80px;

            h3 {
                font-size: 18px;
                color: $primary-color;
            }
        }
        &__footer {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 60px;
            background-color: #fff;
            border-top: 2px solid #ccc;
            padding: 15px;
        }
    }
}