
$arrow-size: 30px;
$arrow-size-mobile: 20px;

.section-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    &__line {
        height: 12px;
        background-color: $primary-color;
    }
    &__arrow-down {
        width: 0px;
        height: 0px;
        border-left: $arrow-size-mobile solid transparent;
        border-right: $arrow-size-mobile solid transparent;
        border-top: $arrow-size-mobile solid $primary-color;
        margin-right: auto;
        margin-left: auto;
        margin-top: -1px;

    }

    @media(min-width: 768px) {
        &__line {
            height: 15px;
        }
        &__arrow-down {
            border-left: $arrow-size solid transparent;
            border-right: $arrow-size solid transparent;
            border-top: $arrow-size solid $primary-color;
        }
    }
}