

.section-title {
    text-align: center;
    color: $primary-color;
    font-family: $title-font;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;

    @media(min-width: 768px) {
        font-size: 40px;
        line-height: 1.3;
        margin-bottom: 40px;
    }
}

.tier-title {
    border: 2px dashed $primary-color;
    color: $primary-color;
    padding: 7px 10px;
    min-width: 120px;
    text-align: center;
    text-transform: uppercase;
    max-width: none;
    margin-bottom: 20px;
    display: inline-block;
    &--white {
        border: 2px dashed #fff;
        color: #fff;
    }
}

.glowing-text {
    // text-shadow: 0 0 10px $primary-color, 0 0 15px $primary-color;
    text-shadow: 0 0 10px $primary-color, 0 0 35px $primary-color;
    // text-shadow: 0 0 40px $primary-color;
}