
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}

.text-primary {
    color: $primary-color !important;
}

.d-inline-block {
    display: inline-block !important;
}

.pos-relative {
    position: relative !important;
}
.pos-absolute {
    position: absolute !important;
}
.pos-fixed {
    position: fixed !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.pin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}